@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

html,body{overflow-x:hidden;}
body{overflow-y:hidden;}
body{font-family:'Lobster',cursive,"malgun gothic","맑은고딕","돋움",dotum,sans-serif;}

::-webkit-scrollbar {
	min-width:12px;
	min-height:12px;
	width:.8vw;  /* 세로축 스크롤바 길이 */
	height:.8vw;  /* 가로축 스크롤바 길이 */
}
::-webkit-scrollbar-track {background-color:lightblue;}
::-webkit-scrollbar-track-piece {background-color:gray;}
::-webkit-scrollbar-thumb {border-radius:999px;background-color:black;}
::-webkit-scrollbar-button {width:2vw;height:1vw;}
::-webkit-scrollbar-button:start {background:#000 url("../images/arrow_sp.png")no-repeat 0 .2vw/100%; /* Top, Left 방향의 이동버튼 */}
::-webkit-scrollbar-button:end {background:#000 url("../images/arrow_sp.png")no-repeat 0 calc(100% - .3vw)/100%; /* Bottom, Right 방향의 이동버튼 */}
::-webkit-scrollbar-button:vertical:increment {}
::-webkit-scrollbar-button:vertical:decrement {}
::-webkit-scrollbar-corner {background-color:violet; /* 우측 하단의 코너 부분 */}
::-webkit-resizer {background-color:green;}

@keyframes ani_btn {
  50% {opacity:0;}
  100% {background-position:0 100%;}
}

@keyframes square-to-circle {
  20%{transform:rotate(5deg);}
  50%{background:firebrick;}
  60%{transform:rotate(0deg);}
}

@keyframes background-changer {
  0%, 100% {background-image:url(../images/screen_button.png);}
  50% {background-image:url(../images/screen_button2.png);}
}

@keyframes flash{
	0%{opacity:1;}
	100%{opacity:0;}
}

@keyframes up-and-down{
	0%{margin-top:-3px;color:transparent;}
	100%{margin-top:0;font-size:1.2rem;}
}

@media (min-width:3000px){
	html{font-size:200%;}
}

/*.bgm{position:fixed;right:0;bottom:0;z-index:999;margin:0 20px 10px 0;}
.music{width:25px;height:25px;margin-left:10px;}
.bgm img{display:block;}
.bgMain{position:fixed;top:0;left:0;height:100%;z-index:-1;}*/

#preload{display:flex;position:fixed;left:0;top:0;width:100%;height:100%;z-index:999;background:#eee;align-items:center;justify-content:center;}
#preload svg{;}

.page{position:fixed;right:2.8vw;top:50%;margin-top:-12vw;z-index:60;}
.page .btn_page{float:right;margin-bottom:1vw;position:relative;}
.page .btn_page li{min-width:1.25rem;min-height:1.25rem;width:1.5vw;height:1.5vw;background:url(../images/btn_page.png)no-repeat 0 0/100%;margin:1.8vw 0;text-indent:-9999px;cursor:pointer;transition:all .5s;}
.page .btn_page li:not(.on):hover{animation:ani_btn .5s ease-in;animation-fill-mode:forwards;}
.page .btn_page li.on{background-position:0 100%;}
.page .btn_page_txt{display:none;color:#fff;font-size:.75rem;float:left;padding-right:1vw;}
.page .btn_page_txt li{min-width:1.25rem;min-height:1.25rem;height:1.5vw;margin:1.8vw 0;text-align:right;line-height:1.5vw;text-shadow:.1rem .1rem .2rem #000;}
.page .btn_page_txt li span{margin-left:0.62rem;font-size:.62rem;}
.page .help{cursor:pointer;text-align:right;}
.page .help img{min-width:1.25rem;min-height:1.25rem;width:1.5vw;height:1.5vw;;}

.headerF{width:100%;height:7.5rem;position:fixed;top:0;z-index:40;}
.headerF .header_inner{min-width:1200px;margin:0 1.25rem;margin-top:1.87rem;position:relative;}
.headerF .header_inner h1{width:12%;float:left;margin-left:1.25rem;}
.headerF .header_inner h1 img{width:100%;}
.headerF .header_inner .gnb{float:right;margin-top:3%;}
.headerF .header_inner .gnb li{display:inline-block;height:1rem;border-left:solid .1rem #ddd;line-height:.75rem;text-align:center;margin-left:0.62rem;padding-left:0.62rem;}
.headerF .header_inner .gnb li:first-child{border-left:none;margin-left:0;padding-left:0;}
.headerF .header_inner .gnb li a{font-size:1.5rem;color:#fff;padding:0.62rem 1.25rem;border:solid .15rem rgba(0,0,0,0);font-family:'PT Serif',serif;font-style:italic;font-weight:bold;position:relative;}
.headerF .header_inner .gnb li a:after{content:"";position:absolute;left:-0.62rem;right:-0.62rem;top:-0.62rem;bottom:-0.62rem;border:dashed .12rem tomato;border-radius:0.62rem;color:#fff;transition:all .5s;opacity:0;}
.headerF .header_inner .gnb li a:hover:after{margin:0.62rem;opacity:.6;}

.section>div{height:100vh;padding-top:6rem;}
.section>div.sct1{padding-top:0;}

.sct1{position:relative;margin:0 auto;}
.sct1 .txt{position:absolute;top:50%;left:50%;z-index:1;text-align:center;}
.sct1 .p1 .txt{width:43.75rem;margin:-3.75rem 0 0 -21.87rem;letter-spacing:.12rem;}
.sct1 .p2 .txt{margin:-1.87rem 0 0 -8.87rem;}
.sct1 .txt p{font-size:1.25rem;color:#fff;line-height:1rem;line-height:1.87rem;font-family:'Yeon Sung',cursive;}
.sct1 .p1 .txt p{font-size:2.5rem;line-height:3.75rem;font-weight:bold;letter-spacing:.12rem;}
.sct1 .p1 .txt p span{vertical-align:middle;}
.sct1 .p1 .txt .emt{display:inline-block;width:1.8rem;height:2rem;border-radius:50%;border:solid black .2rem;margin-left:.3rem;background:#b296c6;font-size:1rem;line-height:initial;text-align:initial;color:initial;}
.sct1 .p1 .txt .emt:after{content:'👀';}
.sct1 .p2 .txt p{font-style:italic;}
.sct1 .p2 .txt p:nth-of-type(2){font-size:1.18rem;}
.sct1 .txt .scroll_visual li{display:block;margin-top:-3.12rem;opacity:0;}
.sct1 .txt .scroll_visual li:first-child{margin-bottom:0.62rem;}

.sct1 .swiper-slide{width:100%;height:100vh;overflow:hidden;}
.sct1 .swiper-slide .bg_img{width:100%;height:100%;background:no-repeat 50% / cover;
-webkit-transition:7s;
-moz-transition:7s;
-ms-transition:7s;
-o-transition:7s;
transition:7s;}
.sct1 .swiper-slide.p1 .bg_img{background-image:url("../images/mbg1.jpg");}
.sct1 .swiper-slide.p2 .bg_img{background-image:url("../images/mbg2.jpg");}
.sct1 .swiper-slide .bg_img:after{content:"";position:absolute;left:0;top:0;right:0;bottom:0;background:rgba(0,0,0,.3)}
.sct1 .swiper-slide-active .bg_img{
	-webkit-transform:scale(1.3);
	-moz-transform:scale(1.3);
	-ms-transform:scale(1.3);
	-o-transform:scale(1.3);
	transform:scale(1.3);
}

.sct1 .intro{font-size:4.37rem;position:absolute;left:50%;top:30%;}


.sct2{position:relative;background:#666;}
.sct2 .header{position:absolute;top:0;width:100%;height:6rem;background:#222;z-index:50;}
.sct2 .header.on{position:fixed;}
.sct2 .header h1{position:absolute;height:3.6rem;top:50%;left:0;right:0;text-align:center;margin-top:-2rem;z-index:-1;}
.sct2 .header h1 img{height:100%;}
.sct2 .header.on{position:fixed;left:0;top:0;}

.sct2 .gnb{float:left;padding:0 2vw;}
.sct2 .gnb+.gnb{float:right;}
.sct2 .gnb li{float:left;margin:0 1.25rem;}
.sct2 .gnb li a{display:inline-block;padding:2.4rem 0;font-size:1.25rem;color:#b296c6;}
.sct2 .gnb li a:hover{color:darkslateblue;}

.sct2 .bubble{width:13rem;height:6rem;background:maroon;transform-origin:1.87rem 1.87rem;animation:square-to-circle 2s 1s linear infinite;transition:all 1s;position:absolute;right:-50%;top:50%;margin:-2.8rem -6.25rem 0 0;z-index:10;overflow:hidden;}
.sct2 .bubble.on{right:50%;}
.sct2 .bubble:before{content:"";position:absolute;right:-1.25rem;top:-1rem;width:2rem;border-right:transparent 0.43rem solid;border-left:transparent 0.62rem solid;border-top:#222 2.25rem solid;transform:rotate(74deg);}
.sct2 .bubble:after{content:"";position:absolute;right:-1.37rem;top:-1.5rem;width:2.5rem;height:2.5rem;background:#666;transform:rotate(43deg);}
.sct2 .bubble h2{font-size:1.75rem;color:#fff;font-weight:bold;text-align:center;padding-top:.5rem;line-height:1.5rem;}
.sct2 .bubble span{font-size:1.5rem;line-height:1.5rem;}
.sct2 .box{width:75rem;height:37.5rem;position:absolute;left:50%;top:50%;margin:-18.75rem 0 0 -37.5rem;}
.sct2 .box>div{width:19.56rem;height:18rem;margin:0 auto;border-radius:1.87rem;margin-top:-6.25rem;}
.sct2 .box>div p{color:#e0e0e0;text-align:center;line-height:1.25rem;padding-top:7.5rem;}


/*학력*/
.sct2 .box .about1{background:#5b5b5b url(../images/about_edu.png) no-repeat 50% 26.1%/ 3.71rem;position:absolute;left:50%;top:16rem;margin-left:-9.78rem;opacity:0;}
.sct2 .box .about2{background:#5b5b5b url(../images/about_profile.png) no-repeat 50% 20%/2.71rem;position:absolute;left:50%;top:16rem;margin-left:-9.78rem;opacity:0;}
.sct2 .box .about2 a{color:#e0e0e0;letter-spacing:-.31rem;}
.sct2 .box .about3{background:#5b5b5b url(../images/about_skils_min.png) no-repeat center 2.81rem;position:absolute;right:50%;margin-right:-9.78rem;top:16rem;opacity:0;}
.sct2 .box .about3 .skill_wrap{margin-top:6.25rem;text-align:right;}
.sct2 .box .about3 .skill_wrap .skill1,.skill2,.skill3,.skill4,.skill5{height:1.87rem;text-indent:3.75rem;}
.sct2 .box .about3 .skill_wrap span{width:6.25rem;color:#e0e0e0;float:left;font-variant:small-caps;}
.sct2 .box .about3 .skill_wrap span.last{width:8.31rem;height:2.43rem;font-size:.75rem;letter-spacing:-0.02em;background:url(../images/balloon.png)no-repeat;color:#2f2f2f;margin:-1.87rem 0 0 14.35rem;display:none;}
.sct2 .box .about3 .skill_wrap .graph{float:left;margin:.31rem 0 0 2.18rem;}
.sct2 .box .about3 .skill_wrap .graph>div{width:1.25rem;height:0.62rem;background:#fff;float:left;margin-right:.25rem;border-radius:50%;}
.sct2 .box .about4{background:#5b5b5b url(../images/certificate.png) no-repeat 50% 20%/3.21rem;position:absolute;left:50%;bottom:9.75rem;margin-left:-9.78rem;opacity:0;}
.sct2 .box .about4 ul{margin-top:8.12rem;}
.sct2 .box .about4 li{color:#e0e0e0;text-align:center;line-height:1.25rem;padding-bottom:.31rem;}


.sctSlide{background:#dfdfdf;position:relative;}
.sctSlide .screen{position:absolute;width:70%;height:70%;left:15%;top:15%;background:#fff;border-radius:6em;}
.sctSlide .screen .bg,
.sctSlide .screen .bg2{position:absolute;top:0;bottom:0;left:0;right:0;}
.sctSlide .screen .bg{background:url("../images/screen1_bg.png")repeat-x 0/contain;margin:0 5%;}
.sctSlide .screen .bg2{
    background-image:url("../images/screen1_l.png"), url("../images/screen1_r.png"), url("../images/screen1_b.png");
	background-repeat:no-repeat;
    background-position:0 0, 100% 0, 50% 98%;
    background-size:contain, contain, 50%;
}
.sctSlide h2{text-align:center;font-size:1.88rem;color:#666;font-weight:bold;padding:1.3em 0;}
.sctSlide .wrap{display:flex;position:absolute;left:0;right:0;top:13%;bottom:11%;align-items:center;}
.sctSlide .swiper-container{width:92%;max-width:100vh;}
.sctSlide ul{font-size:0;}
.sctSlide ul li{display:inline-block;width:20%;position:relative;padding:.5rem;box-sizing:border-box;}
.sctSlide ul li .con{position:relative;border:.1rem solid #ddd;padding-top:100%;}
.sctSlide ul li a{position:absolute;left:0;top:0;right:0;bottom:0;}
.sctSlide ul li a img{width:100%;height:100%;}
.sctSlide ul li a h3{opacity:0;display:flex;width:100%;height:100%;background:rgba(30,80,150,0);position:absolute;left:0;top:0;color:#fff;font-size:1rem;line-height:1.5rem;font-weight:bold;text-align:center;transition:all 0.5s ease-out;align-items:center;justify-content:center;padding:.5rem;box-sizing:border-box;}
.sctSlide ul li a:hover h3{opacity:1;background:rgba(70,0,20,0.8);}
.sctSlide .swiper-pagination{position:absolute;bottom:1.5vh;left:0;right:0;}
.sctSlide .swiper-pagination-bullet{width:1.5vw;height:1.5vw;background:#fff;border:.4vw solid #000;box-sizing:border-box;margin:0 .5vw;cursor:pointer;transition:all 1s;}
.sctSlide .swiper-pagination-bullet-active{background:peachpuff;border-color:transparent;}
.sctSlide .swiper-prev,
.sctSlide .swiper-next{position:absolute;width:5.2vw;height:2.97vw;max-width:8vh;max-height:4.5vh;bottom:1%;cursor:pointer;text-indent:-9999px;background:url(../images/screen_button.png)no-repeat 0 100%/100%;border:0;z-index:10;animation:background-changer 2s infinite;}
.sctSlide .swiper-prev{left:3vw;background-position:0 top;}
.sctSlide .swiper-next{right:3vw;background-position:0 bottom;}


.sct4{background:url("../images/con_02_bg.jpg")repeat-x 0/contain;}
.sct4 .screen .bg{background-image:url("../images/screen2_bg.png");}
.sct4 .screen .bg2{background-image:url("../images/screen2_l.png"), url("../images/screen2_r.png"), url("../images/screen2_b.png");}
.sct4 .swiper-pagination{font-size:1rem;color:#fff;font-weight:bold;text-shadow:0.4rem 0.15rem 0.15rem #000;bottom:3.5%;}


.sct5{background:#7a7a7a;position:relative;}

.sct5>.tit{display:none;width:18.75rem; height:5.62rem; background:transparent ; margin:0 auto; border:0px solid #fff;
position:absolute; left:50%; margin-left:-9.37rem; bottom:-12.5rem;}
.sct5>.tit h2{text-align:center;  font-size:1.87rem; color:#fff; font-family:'Black Ops One', cursive;
 line-height:5.62rem; text-shadow:.2rem .2rem .2rem #000;}

.sct5 .conWrap{width:80vw;height:50.485vw;max-width:126.77vh;max-height:80vh;position:absolute;top:calc(6rem + 5vh);left:0;right:0;background:url("../images/laptop.png")no-repeat center/contain;margin:auto;/* width:1030px;height:650px; */}

.sct5 .conWrap .con{width:70%;height:70%;position:relative;top:4.2%;margin:auto;}
.sct5 .conWrap .con > ul,
.sct5 .conWrap .con > ul *{width:100%;height:100%;}
.sct5 .conWrap .con > ul{position:relative;z-index:1;}
.sct5 .conWrap .con > ul li{display:none;width:0;height:0;position:absolute;top:0;left:0;}
.sct5 .conWrap .con > ul li:nth-of-type(19){display:block;width:100%;height:100%;}
.sct5 .conWrap .con > ul strong{position:absolute;left:0;right:0;top:0;width:auto;background:rgba(32,131,170,0.6);opacity:0;transition:all 1s ease-out;pointer-events:none;}
.sct5 .conWrap .con > ul li.new strong{right:12px;}
.sct5 .conWrap .con > ul strong p{display:flex;color:#fff;font-size:3.12rem;text-shadow:.2rem .2rem 0.62rem #000;justify-content:center;align-items:center;}
.sct5 .conWrap .con > ul li.new .imgWrap{overflow-y:auto;}
.sct5 .conWrap .con > ul img{width:100%;height:auto;overflow:hidden;box-sizing:border-box;}
.sct5 .conWrap .con > ul li:not(.hide) a:hover strong{transition:all 0.2s ease-out;opacity:1;}

.sct5 .conWrap .tit{position:absolute;top:0;bottom:-5.5rem;left:-7rem;right:-7rem;z-index:0;}
.sct5 .conWrap .tit>ul{font-size:0;position:absolute;top:0;text-align:center;}
.sct5 .conWrap .tit li{display:flex;width:6rem;height:4rem;margin:1rem 0;border-radius:0.6rem;background:pink;cursor:pointer;line-height:4rem;font-weight:bold;color:#666;font-size:1rem;position:relative;align-items:center;justify-content:center;}
.sct5 .conWrap .tit li h3{line-height:1.4rem;}
.sct5 .conWrap .tit li h4{display:none;font-size:1rem;font-weight:normal;color:#fff;}
.sct5 .conWrap .tit .lft{left:0;}
.sct5 .conWrap .tit .lft2{left:-7rem;top:1.5rem;}
.sct5 .conWrap .tit .lft2:before{content:"new";animation:up-and-down 1s 1s infinite alternate;font-size:1rem;position:absolute;left:50%;top:-12px;z-index:10;transform:translate(-50%,0);background:#7a7a7a;padding:0 .5em .2em;}
.sct5 .conWrap .tit .lft2:after{content:"";animation:flash 1s 1s infinite alternate;position:absolute;left:-8px;right:-8px;top:0;bottom:0px;border:2px dashed;border-radius:1rem;z-index:-1;}
.sct5 .conWrap .tit .lft li,
.sct5 .conWrap .tit .lft2 li{animation-name:fadeInLeft;}
.sct5 .conWrap .tit .rgt{right:0;}
.sct5 .conWrap .tit .rgt li{animation-name:fadeInRight;}
.sct5 .conWrap .tit .rgt li h4{position:absolute;top:0;right:-5rem;}
.sct5 .conWrap .tit .bot{top:auto;bottom:0;left:0;right:0;z-index:-1;}
.sct5 .conWrap .tit .bot li{display:inline-flex;margin:.5rem;}
.sct5 .conWrap .tit .bot li h3{color:#fff;}
.sct5 .conWrap .tit .bot li h4{position:absolute;top:4.3rem;line-height:1.6rem;}
.sct5 .conWrap .tit .lft li:nth-of-type(1),
.sct5 .conWrap .tit .rgt li:nth-of-type(1){margin-top:0;}


.sct6{background:#333;position:relative;overflow:hidden;}
.sct6 .sct6_inner{position:absolute;left:50%;top:50%;margin:-22vw 0 0 -12vw;}
.sct6 .sct6_inner>div{display:inline-flex;vertical-align:middle;position:relative;}
.sct6 .line{width:24vw;max-width:30vh;height:46vw;margin:0 -2rem;background:url(../images/line.png)no-repeat center/contain;}
.sct6 p{font-size:2rem;color:#666;margin:0 0 0 -7rem;text-shadow:0.1rem 0.1rem 0.1rem #fff;z-index:1;animation-name:fadeIn;animation-duration:1s;}
.sct6 .tel{margin-top:-10rem;}
.sct6 .tel p{animation-delay:1s;}
.sct6 .email{margin:0 0 -10rem 3.5rem;align-items:flex-end;}
.sct6 .email p{animation-delay:2s;}
.sct6 .email span{display:none;width:5rem;height:12rem;background:lightskyblue;border-top:solid 3rem cornflowerblue;border-radius:1rem 3rem 50% 50%;transform:skew(-50deg, 3deg);position:absolute;bottom:12rem;right:15rem;z-index:2;}
.sct6 .email span:before{content: "";position:absolute;border:solid #555;border-width:1.5rem 0.8rem 0 2.1rem;border-left-color:transparent;bottom:-0.4rem;left:.3rem;transform:rotate(28deg)}


.mainLayer .layerConWrap form{padding:1rem;}




@media(prefers-color-scheme:dark){
	.sctSlide .screen{background:#333;}
	.sctSlide h2{color:#fff;}
}







