@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');

body{font-family:"맑은 고딕","malgun gothic","돋움",dotum,sans-serif;overflow-x:hidden;}
/*.bgm{position:fixed;right:0;bottom:0;z-index:999;margin:0 20px 10px 0;}
.music{width:25px;height:25px;margin-left:10px;}
.bgm img{display:block;}*/
.page{position:fixed;right:30px;top:50%;margin-top:-130px;z-index:60;}
.page .btn_page{float:right;margin-bottom:10px;position:relative;}
.page .btn_page li{display:block;width:20px;height:20px;background:url(../images/btn_page.png)no-repeat;margin:20px 0;text-indent:-9999px;cursor:pointer;}
.page .btn_page li:hover{background-position:0 -20px;}
.page .btn_page li.on{background-position:0 -20px;}
.page .btn_page_txt{margin-right:10px;color:#fff;font-size:12px;float:left;display:none;}
.page .btn_page_txt li{margin:20px 0;text-align:right;line-height:20px;text-shadow:1px 1px 3px #000;}
.page .btn_page_txt li span{margin-left:10px;font-size:10px;}
.page .help{position:absolute;bottom:-5%;right:2px;cursor:pointer;}

.section1{height:1277px;position:relative;background:url(../images/bg1.png) no-repeat;}
.section1 .btn_shop{position:absolute;left:20px;top:20px;}
.section1 .btn_shop img{width:57px;}
.section1 .btn_shop2 {position:absolute;right:20px;top:20px;}
.section1 .btn_shop2 img{width:37px;}
.section1 video{width:120%;margin-top:120px;position:fixed;z-index:-1;}
.section1 .header{width:100%;height:120px;position:fixed;top:0;z-index:40;background:rgba(0,0,0,0.8);}
.section1 .header .header_inner{width:1200px;margin:0 auto;margin-top:30px;}
.section1 .header .header_inner h1{float:left;}
.section1 .header .header_inner .gnb{float:right;margin:35px 50px 0 0;}
.section1 .header .header_inner .gnb li{height:14px;float:left;border-left:solid 1px powderblue;padding:0 30px;line-height:12px;}
.section1 .header .header_inner .gnb li:first-child{border-left:none;}
.section1 .header .header_inner .gnb li a{font-size:24px;color:#aaa;border-radius:10px;padding:20px 10px;border:solid 2px rgba(0,0,0,0);font-family:'PT Serif',serif;font-style:italic;font-weight:bold;}
.section1 .header .header_inner .gnb li a:hover{border:dotted 2px darkolivegreen;color:#fff;}


.section1 .con{width:1000px;margin:0 auto;}
.section1 .con .tit{float:left;text-align:center;position:absolute;left:671px;top:360px;}
.section1 .con .tit p{font-size:14px;color:#000;margin:120px 0;line-height:18px;font-style:italic;}
.section1 .con .tit p span{display:block;margin-bottom:30px;color:#fff;font-size:16px;line-height:22px;}
.section1 .con .tit .scroll_visual li{display:block;margin-top:-50px;opacity:0;}
.section1 .con .tit .scroll_visual li:first-child{margin-bottom:10px;}


.section1 .intro{font-size:70px;position:absolute;left:50%;top:30%;}


.section2{height:1025px;background:#333;position:relative;}
.section2 .header{position:absolute;top:0;width:100%;height:90px;background:rgba(255,255,255,0.9);z-index:50;}
.section2 .header h2{text-align:center;margin-top:15px;}
.section2 .header h2 img{width:120px;}
.section2 .header.on{position:fixed;left:0;top:0;}

.section2 .gnb{margin:-35px auto 0;width:800px;padding-left:200px;}
.section2 .gnb li{float:left;margin:0 20px;}
.section2 .gnb li:nth-child(3){margin-left:200px;}
.section2 .gnb li a{font-size:20px;color:slateblue;}
.section2 .gnb li a:hover{color:darkslateblue;}


@keyframes square-to-circle {
  0%{border-radius:0 0 0 0;background:coral;transform:rotate(0deg);}
  25%{border-radius:50% 0 0 0;background:darksalmon;transform:rotate(5deg);}
  50%{border-radius:50% 50% 0 0;background:maroon;transform:rotate(-5deg);}
  75%{border-radius:50% 50% 50% 0;background:sienna;transform:rotate(5deg);}
  100%{border-radius:50%;background:darksalmon;transform:rotate(0deg);}
}
.section2 .box1{height:100px;padding-top:100px;cursor:pointer;}
.section2 .box1 .tit{width:200px;height:90px;background:saddlebrown;animation:square-to-circle 2s 1s infinite alternate;position:absolute;right:-50%;margin:358px 0 0 -100px;z-index:10;}
.section2 .box1 .tit h2{font-size:28px;color:#fff;font-weight:bold;text-align:center;padding-top:8px;line-height:24px;}
.section2 .box1 .tit span{font-size:24px;line-height:24px;}
.section2 .box2{width:1000px;height:600px;margin:0 auto;position:relative;}
.section2 .box2>div{width:313px;height:288px;margin:0 auto;border-radius:30px;margin-top:-100px;}
.section2 .box2>div p{color:#e0e0e0;text-align:center;line-height:20px;padding-top:120px;}

/*학력*/
.section2 .box2 .about1{background:#5b5b5b url(../images/about_edu.png) no-repeat center 45px;position:absolute;left:50%;top:256px;margin-left:-156.5px;opacity:0;}
.section2 .box2 .about2{background:#5b5b5b url(../images/about_profile.png) no-repeat center 45px;position:absolute;left:50%;top:256px;margin-left:-156.5px;opacity:0;}
.section2 .box2 .about3{background:#5b5b5b url(../images/about_skils_min.png) no-repeat center 45px;position:absolute;right:50%;margin-right:-156.5px;top:256px;opacity:0;}
.section2 .box2 .about3 .skill_wrap{margin-top:100px;text-align:right;}
.section2 .box2 .about3 .skill_wrap .skill,.skill2,.skill3,.skill4,.skill5{height:30px;text-indent:60px;}
.section2 .box2 .about3 .skill_wrap span{width:100px;color:#e0e0e0;float:left;}
.section2 .box2 .about3 .skill_wrap span.last{width:85px;height:39px;font-size:12px;letter-spacing:-0.02em;background:url(../images/balloon.png)no-repeat;color:#2f2f2f;margin:-30px 0 0 230px;display:none;}
.section2 .box2 .about3 .skill_wrap .graph{float:left;margin:5px 0 0 35px;}
.section2 .box2 .about3 .skill_wrap .graph>div{width:20px;height:10px;background:#fff;float:left;margin-right:4px;border-radius:50%;}
.section2 .box2 .about4{background:#5b5b5b url(../images/certificate.png)no-repeat center 45px;position:absolute;left:50%;bottom:156px;margin-left:-156.5px;opacity:0;}
.section2 .box2 .about4 ul{margin-top:130px;}
.section2 .box2 .about4 li{color:#e0e0e0;text-align:center;line-height:20px;padd3ng-top:10px;}


@keyframes background-changer {
  0%, 100% {background-image: url(../images/screen_button.png);}
  50% {background-image: url(../images/screen_button2.png);}
}
.section3{height:1000px;background:#dfdfdf url("../images/screen.png")no-repeat center;}
.section3 .work{width:800px;height:900px;margin:0 auto;}
.section3 .work h2{text-align:center;padding-top:170px;font-size:30px;color:#666;font-weight:bold;}
.section3 .work ul{height:900px;position:relative;margin-top:10px;outline:none;}
.section3 .work ul li{float:left;margin-right:53.3px;position:relative;margin-top:30px;}
.section3 .work ul li:nth-child(4){margin-right:0;}
.section3 .work ul li:nth-child(8){margin-right:0;}
.section3 .work ul li:nth-child(12){margin-right:0;}
.section3 .work ul li a{outline:none;}
.section3 .work ul li a img{width:160px;height:160px;}
.section3 .work ul li a h3{width:160px;height:160px;background:rgba(30,80,150,0);position:absolute;left:0;top:0;color:#fff;font-size:24px;font-weight:bold;text-align:center;line-height:160px;transition:all 0.5s ease-out;opacity:0;}
.section3 .work ul li a h3.ss{font-size:16px;letter-spacing:-1px;}
.section3 .work ul li a:hover h3{opacity:1;background:rgba(70,0,20,0.8);}
.section3 .work .slick-arrow{position:absolute;width:75px;height:43px;outline:none;cursor:pointer;text-indent:-9999px;background:url(../images/screen_button.png)no-repeat;border:0;z-index:10;animation:background-changer 2s infinite;}
.section3 .work .slick-prev{bottom:20px;left:4%;background-position:0 top;}
.section3 .work .slick-next{bottom:20px;right:4%;background-position:0 bottom;}
.section3 .work ul p{display:block;font-size:16px;color:#fff;position:absolute;left:50%;bottom:27.2%;margin-left:-25px;text-shadow:1px 1px 3px #000;font-weight:bold;font-family: 'Lobster', cursive;}


.section4{height:1025px;background:url(../images/con_02_bg.jpg)repeat-x;position:relative;}
.section4 .screen{position:absolute;width:1000px;height:780px;background:url(../images/screen2.png)no-repeat;left:50%;top:50%;margin:-403px 0 0 -500px;}
.section4 .work{width:800px;height:900px;margin:0 auto;}
.section4 .work h2{text-align:center;padding-top:170px;font-size:30px;color:#666;font-weight:bold;}
.section4 .work ul{height:900px;position:relative;margin-top:10px;outline:none;}
.section4 .work ul li{float:left;margin-right:53.3px;position:relative;margin-top:30px;}
.section4 .work ul li:nth-child(4){margin-right:0;}
.section4 .work ul li:nth-child(8){margin-right:0;}
.section4 .work ul li:nth-child(12){margin-right:0;}
.section4 .work ul li a{outline:none;}
.section4 .work ul li a img{width:160px;height:160px;}
.section4 .work ul li a h3{width:160px;height:160px;background:rgba(30,80,150,0);position:absolute;left:0;top:0;color:#fff;font-size:24px;font-weight:bold;text-align:center;line-height:160px;transition:all 0.5s ease-out;opacity:0;}
.section4 .work ul li a:hover h3{opacity:1;background:rgba(70,0,20,0.8);}
.section4 .work .slick-arrow{position:absolute;width:75px;height:43px;outline:none;cursor:pointer;text-indent:-9999px;background:url(../images/screen_button2.png)no-repeat;border:0;z-index:10;animation:background-changer 2s infinite;}
.section4 .work .slick-prev{bottom:20px;left:4%;background-position:0 top;}
.section4 .work .slick-next{bottom:20px;right:4%;background-position:0 bottom;}
.section4 .work ul p{display:block;font-size:16px;color:#fff;position:absolute;left:50%;bottom:27.2%;margin-left:-25px;text-shadow:1px 1px 3px #000;font-weight:bold;font-family: 'Lobster', cursive;}



.section5{height:1000px;background:#7a7a7a url(../images/laptop.png)no-repeat center 200px;position:relative;}


.section5 .tit{width:300px; height:90px; background:transparent ; margin:0 auto; border:0px solid #fff;
position:absolute; left:50%; margin-left:-150px; bottom:-200px;}
.section5 .tit h2{text-align:center;  font-size:30px; color:#fff; font-family: 'Black Ops One', cursive; 
 line-height:90px; text-shadow:3px 3px 3px #000;}


.section5 .list_wrap{width:1030px;height:650px;position:absolute;left:50%;top:50%;margin:-270px 0 0 -389px;}
.section5 .list_wrap .left{position:absolute;z-index:20;width:100%;margin:-10px 0 0 -134px;}
.section5 .list_wrap .left .le{float:left;}
.section5 .list_wrap .left .le li{animation-name:fadeInLeft;}
.section5 .list_wrap .left .ri{float:right;}
.section5 .list_wrap .left .ri li{animation-name:fadeInRight;}
.section5 .list_wrap .left .ri li h4{color:#fff;margin:-80px 0 0 100px;width:100px;display:none;}
.section5 .list_wrap .left .bt{position:absolute;left:50%;bottom:-15%;margin-left:-172px;}
.section5 .list_wrap .left .bt li{float:left;}
.section5 .list_wrap .left .bt li h3{color:#fff;}
.section5 .list_wrap .left .bt li h4{color:#fff;margin-top:15px;line-height:20px;display:none;}
.section5 .list_wrap .left li{width:100px;height:80px;margin:0 0 15px 15px;position:relative;border-radius:20px;background:pink;cursor:pointer;line-height:80px;text-align:center;font-weight:bold;letter-spacing:-0.5px;color:#666;}


.section5 .list_wrap .right{width:780px;height:493px;position:relative;z-index:30;}
.section5 .list_wrap .right li{display:none;width:0;height:0;}
.section5 .list_wrap .right li:first-child{display:block;}
.section5 .list_wrap .right a{display:block;width:780px;height:493px;}
.section5 .list_wrap .right strong{width:780px;height:493px;position:absolute;left:0;top:0;background:rgba(32,131,170,0.6);opacity:0;transition:all 0.5s ease-out;}
.section5 .list_wrap .right strong p {text-align:center;line-height:493px;color:#fff;font-size:50px;text-shadow:3px 3px 10px #000;}
.section5 .list_wrap .right img{width:100%;height:100%;overflow:hidden;box-sizing:border-box;}
.section5 .list_wrap .right a:hover strong{transition:all 0.5s ease-out;opacity:1;}







.section6{height:1000px;background:#333;position:relative;}
.section6 video{width:120%;display:block;margin:0 auto;}
.section6 .section6_inner{position:absolute;left:50%;top:36%;margin-left:-144.5px;padding-top:100px;}
.section6 .line{width:289px;height:708px;background:url(../images/line.png)no-repeat;}
.section6 .phone{margin:0 0 -400px -800px;text-align:center;line-height:30px;font-size:30px;color:#666;}
.section6 .phone p{line-height:200px;margin-right:-260px;}
.section6 .phone p span{display:inline-block;width:100px;height:200px;background:lightskyblue;margin-right:-225px;border-top:solid 50px cornflowerblue;}
.section6 .email{margin:-400px 0 0 210px;line-height:200px;text-align:center;font-size:30px;color:#666;}
.section6 .email p span{display:inline-block;width:100px;height:200px;background:pink;margin-right:-80px;border-top:solid 50px lightcoral;}








